<!DOCTYPE html>
<html>
<head>
    <title>itinarary</title>
</head>
<body>
<h2>3 days / 2 nights</h2>
<h3>Delhi - Katra – Vaishno Devi – Jammu- Delhi.</h3>
<p>
<b>Thursday evening</b>: Delhi to  Katra ( Friday morning) by Vaishno Devi express, relax for a while, leave for Vaishno Devi trek whenever ready
</p>
<p>
<b>Friday</b> : Get back from Vaishno Devi to Katra by night or by Saturday morning.\n\nSaturday: Leave for Jammu in the day time and enjoy the day in Jammu
</p>
<p>
<b>Sunday</b>: Relax in Jammu for the day, explore nearby areas and leave in the evening by New Delhi Premium Special Train to reach Delhi by Monday morning.
</p>
</body>
</html>