<!DOCTYPE html>
<html>
<head>
    <title>itinarary</title>
    <style>
    h1 {
        font-size: 3.0em; 
    }

    h2 {
        font-size: 2.5em; /* 40px/16=2.5em */
     }

    p {
        font-size: 1.5em; 
    }
    </style>
</head>
<body>
<h1>3 days / 2 nights</h1>
<h2>Delhi - Katra – Vaishno Devi – Jammu- Delhi.</h2>
<p>
<b>Thursday evening</b>: Delhi to  Katra ( Friday morning) by Vaishno Devi express, relax for a while, leave for Vaishno Devi trek whenever ready
</p>
<p>
<b>Friday</b> : Get back from Vaishno Devi to Katra by night or by Saturday morning.\n\nSaturday: Leave for Jammu in the day time and enjoy the day in Jammu
</p>
<p>
<b>Sunday</b>: Relax in Jammu for the day, explore nearby areas and leave in the evening by New Delhi Premium Special Train to reach Delhi by Monday morning.
</p>
</body>
</html>